.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    align-items: flex-start;
}

.row {
    display: flex;
    justify-content: center;
    width: 600px;
    flex: 1;
}

.square {
    border: solid blue 1px;
    /* width: 60px;
    height: 60px; */
    flex: 1;
}

.clicked {
    background-color: blueviolet;
}