.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 96px;
}

.row {
    display: flex;
}

.square {
    border: solid blue;
    width: 60px;
    height: 60px;
}

.clicked {
    background-color: blueviolet;
}